@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'), local('Segoe UI Light'), local('Ubuntu Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local('.SFNSText-LightItalic'), local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'), local('Segoe UI Light Italic'), local('Ubuntu Light Italic'), local('Roboto-LightItalic'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local('.SFNSText-Regular'), local('.HelveticaNeueDeskInterface-Regular'), local('.LucidaGrandeUI'), local('Segoe UI'), local('Ubuntu'), local('Roboto-Regular'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local('.SFNSText-Italic'), local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'), local('Segoe UI Italic'), local('Ubuntu Italic'), local('Roboto-Italic'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local('.SFNSText-Medium'), local('.HelveticaNeueDeskInterface-MediumP4'), local('.LucidaGrandeUI'), local('Segoe UI Semibold'), local('Ubuntu Medium'), local('Roboto-Medium'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local('.SFNSText-MediumItalic'), local('.HelveticaNeueDeskInterface-MediumItalicP4'), local('.LucidaGrandeUI'), local('Segoe UI Semibold Italic'), local('Ubuntu Medium Italic'), local('Roboto-MediumItalic'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local('.SFNSText-Bold'), local('.HelveticaNeueDeskInterface-Bold'), local('.LucidaGrandeUI'), local('Segoe UI Bold'), local('Ubuntu Bold'), local('Roboto-Bold'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local('.SFNSText-BoldItalic'), local('.HelveticaNeueDeskInterface-BoldItalic'), local('.LucidaGrandeUI'), local('Segoe UI Bold Italic'), local('Ubuntu Bold Italic'), local('Roboto-BoldItalic'), local('DroidSans-Bold'), local('Tahoma Bold');
}

/* Multilingual
https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts/multi-language-typefaces-1 */
@import url('//fonts.googleapis.com/css2?family=Noto+Sans:wght@400%3B700&display=swap');

/* Roboto
https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts/advanced-users */
@import url('//fonts.googleapis.com/css?family=Roboto:ital,wght@0,300%3B0,400%3B0,500%3B0,700%3B0,900%3B1,400%3B1,700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400%3B700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Roboto+Slab:wght@400%3B700&display=swap');

:root {
  --cd-max-body-width: 1400px;
  --cd-max-width: 1220px;
  --cd-max-content-width: 820px;
  --cd-container-padding: 0.75rem; /* 12px */
  --cd-container-padding-tablet: 1.5rem; /* 24px */
  --cd-container-padding-xlarge: 2.5rem; /* 40px */
  --cd-flow-space: 1rem;
  --cd-bumper-space: 1rem;

  --cd-site-header-height: 60px;

  /* Color palette */
  /* OCHA blue is one colour ramp darker than brand blue */
  --cd-ocha-blue: #1f69b3;
  /* Dark blue is two colour ramps darker than brand blue */
  --cd-blue--dark: #144372;
  /* Bright blue is one colour ramps lighter than brand blue */
  --cd-blue--bright: #82b5e9;
  --cd-highlight-red: #eb5c6d;
  --cd-white: #fff;
  --cd-grey--light: #f2f2f2;
  --cd-grey--mid: #595959;
  --cd-grey--dark: #4a4a4a;
  --cd-default-text-color: --cd-grey--dark;
  --cd-black: #000;
  --cd-blue-grey: #e6ecf1;
  --cd-blue-grey--light: #ebf0f4;

  /* From https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/colours*/
  --cd-red: #cd3a1f;
  --cd-red--light: #f8d8d3;
  --cd-orange: #db7b18;
  --cd-orange--light: #fae6d1;
  --cd-yellow: #d5de26;
  --cd-yellow--light: #f7f8d3;
  --cd-green: #7fb92f;
  --cd-green--light: #e8f5d6;

  /* Fonts sizes in REMs */
  --cd-font-size--tiny: 0.75rem;    /* 12px */
  --cd-font-size--small: 0.875rem;  /* 14px */
  --cd-font-size--base: 1.125rem;   /* 18px */
  --cd-font-size--medium: 1.375rem; /* 22px */
  --cd-font-size--large: 1.625rem;  /* 26px */
  --cd-font-size--2xbase: 2rem;     /* 32px */
  --cd-font-size--2xmedium: 2.5rem; /* 40px */
  --cd-font-size--2xlarge: 3.25rem; /* 52px */

  /*Roboto*/
  --cd-font--roboto: 'Roboto', helvetica, arial, sans-serif;
  --cd-font--roboto-condensed: 'Roboto Condensed', helvetica, arial, sans-serif;
  --cd-font--roboto-slab: 'Roboto Slab', helvetica, arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: helvetica, arial, sans-serif;
}

body {
  margin: 0;
  color: var(--cd-grey--dark);
  line-height: 1.5;
  font-size: var(--cd-font-size--base);
}

a {
  color: var(--cd-ocha-blue);
}

a:focus,
a:hover {
  color: var(--cd-blue--dark);
  text-decoration: none;
}

a:focus {
  outline: 3px solid var(--cd-blue--bright);
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.cd-icons-sprite {
  overflow: hidden;
  display: none;
}

.cd-icon {
  width: 1rem;
  height: 1rem;
}
