article p,
.cd-max-width {
  max-width: var(--cd-max-content-width);
}

hr {
  margin: 3.5rem auto;
  border: none;
  border-top: 2px solid var(--cd-grey--light);
  max-width: var(--cd-max-content-width);
}

blockquote {
  margin: 2rem 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--cd-grey--mid);
}

/* Description list */
dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt {
    flex: 0 0 25%;
    width: 25%;
    padding-bottom: 0.5rem;
  }

  [dir='ltr'] dt {
    padding-right: 0.5rem;
  }

  [dir='rtl'] dt {
    padding-left: 0.5rem;
  }

  dd {
    flex: 0 0 75%;
    width: 75%;
  }

  [dir='ltr'] dd {
    margin-left: auto;
  }

  [dir='rtl'] dd {
    margin-right: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  color: var(--cd-default-text-color);
  font-family: var(--cd-font--roboto);
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: var(--cd-font-size--2xmedium);
}
@media (min-width:1024px) {
  h1 {
    font-size: var(--cd-font-size--2xlarge);
  }
}

.cd-page-title {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cd-blue-grey);
}

.cd-page-title--landing {
  font-size: var(--cd-font-size--2xbase);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  font-size: var(--cd-font-size--2xbase);
}
@media (min-width:1024px) {
  font-size: var(--cd-font-size--2xmedium);
}

h3 {
  font-size: var(--cd-font-size--large);
}
@media (min-width:1024px) {
  font-size: var(--cd-font-size--2xbase);
}

h4 {
  font-size: var(--cd-font-size--medium);
}
@media (min-width:1024px) {
  font-size: var(--cd-font-size--large);
}

h5 {
  font-size: var(--cd-font-size--base);
}
@media (min-width:1024px) {
  font-size: var(--cd-font-size--medium);
}

h6 {
  font-size: 1rem;
}
@media (min-width:1024px) {
  font-size: var(--cd-font-size--base);
}
