article p,
.cd-max-width {
  max-width: var(--cd-max-content-width);
}

hr {
  margin: 3.5rem auto;
  border: none;
  border-top: 2px solid var(--cd-grey--light);
  max-width: var(--cd-max-content-width);
}

blockquote {
  margin: 2rem 0;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #707070;
}

/* Description list */
dt {
  font-weight: 500;
}

dd {
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt {
    flex: 0 0 25%;
    width: 25%;
    padding-bottom: 0.5rem;
  }

  [dir='ltr'] dt {
    padding-right: 0.5rem;
  }

  [dir='rtl'] dt {
    padding-left: 0.5rem;
  }

  dd {
    flex: 0 0 75%;
    width: 75%;
  }

  [dir='ltr'] dd {
    margin-left: auto;
  }

  [dir='rtl'] dd {
    margin-right: auto;
  }
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'), local('Segoe UI Light'), local('Ubuntu Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 300;
  src: local('.SFNSText-LightItalic'), local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'), local('Segoe UI Light Italic'), local('Ubuntu Light Italic'), local('Roboto-LightItalic'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 400;
  src: local('.SFNSText-Regular'), local('.HelveticaNeueDeskInterface-Regular'), local('.LucidaGrandeUI'), local('Segoe UI'), local('Ubuntu'), local('Roboto-Regular'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 400;
  src: local('.SFNSText-Italic'), local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'), local('Segoe UI Italic'), local('Ubuntu Italic'), local('Roboto-Italic'), local('DroidSans'), local('Tahoma');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 500;
  src: local('.SFNSText-Medium'), local('.HelveticaNeueDeskInterface-MediumP4'), local('.LucidaGrandeUI'), local('Segoe UI Semibold'), local('Ubuntu Medium'), local('Roboto-Medium'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 500;
  src: local('.SFNSText-MediumItalic'), local('.HelveticaNeueDeskInterface-MediumItalicP4'), local('.LucidaGrandeUI'), local('Segoe UI Semibold Italic'), local('Ubuntu Medium Italic'), local('Roboto-MediumItalic'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 700;
  src: local('.SFNSText-Bold'), local('.HelveticaNeueDeskInterface-Bold'), local('.LucidaGrandeUI'), local('Segoe UI Bold'), local('Ubuntu Bold'), local('Roboto-Bold'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face {
  font-family: system-ui;
  font-style: italic;
  font-weight: 700;
  src: local('.SFNSText-BoldItalic'), local('.HelveticaNeueDeskInterface-BoldItalic'), local('.LucidaGrandeUI'), local('Segoe UI Bold Italic'), local('Ubuntu Bold Italic'), local('Roboto-BoldItalic'), local('DroidSans-Bold'), local('Tahoma Bold');
}

/*Roboto*/
/*https://brand.unocha.org/d/xEPytAUjC3sH/visual-identity#/basics/fonts/advanced-users*/
@import url('//fonts.googleapis.com/css?family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  color: var(--cd-ocha-blue);
  font-family: var(--cd-font--roboto);
}

h1 {
  color: var(--cd-default-text-color);
  font-weight: 300;
  font-size: var(--cd-font-size--2xmedium);
}

@media (min-width:768px) {
  h1 {
    font-size: var(--cd-font-size--2xlarge);
  }
}

.page-title {
  margin-top: 0;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cd-blue-grey);
}

h1,
h2,
h3,
h4,
h5,
ol,
dl {
  margin-bottom: 1rem;
}

@media (min-width:768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  ol,
  dl {
    margin-bottom: 1.5rem;
  }
}

h2 {
  font-size: var(--cd-font-size--2xmedium);
  font-weight: 400;
}

h3 {
  font-size: var(--cd-font-size--2xbase);
  font-weight: 500;
}

h4 {
  font-size: var(--cd-font-size--large);
  font-weight: 400;
}

h5 {
  font-size: var(--cd-font-size--medium);
  font-weight: 400;
}

h6 {
  font-size: var(--cd-font-size--base);
}


