/* See https://github.com/UN-OCHA/common_design/blob/master/sass/cd/cd-header/_cd-dropdowns.scss */

[data-cd-hidden='false'] {
  display: block;
}

[data-cd-hidden='true'] {
  display: none;
}

/* button[aria-expanded='true'] {
  cursor: pointer;
}

@media (min-width: 576px) {
  button[aria-expanded='false'] {
    cursor: default;
  }
} */

[data-cd-mobile-only] {
  --mobile-only: true;
}

@media (min-width: 576px) {
  [data-cd-mobile-only] {
		--mobile-only: false;
  }
}
