/* See https://github.com/UN-OCHA/common_design/blob/master/sass/cd/cd-header/_cd-dropdowns.scss */

[data-cd-toggable] {
  --dropdown: true;
}

[data-cd-hidden='false'] {
  display: block;
}

[data-cd-hidden='true'] {
  display: none;
}

.cd-dropdown {
  display: none;
}

.cd-dropdown[data-cd-hidden='false'] {
  display: block;
}

.no-js .cd-dropdown {
  display: block;
  position: relative;
}

@media (min-width: 1024px) {
  .cd-filter[data-cd-toggable] {
    background: red;
    --dropdown: false;
  }
}
