.cd-hero {
  margin: 0;
  text-align: center;
  height: 23.125rem; /* 370px */
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.cd-hero__image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 23.125rem; /* 370px */
  grid-area: 1 / 1 / 4 / 6;
}

.cd-hero__container {
  grid-area: 2 / 1 / 4 / 3;
}

@media (min-width: 1366px) {
  .cd-hero__image {
    object-fit: none;
  }
}
