:root {
  --cd-ocha-primary-color:  hsl(210, 70%, 56%);
  --cd-ocha-darkbutton-default:  hsl(210, 70%, 56%);
  --cd-ocha-lightbutton-default:  hsl(210, 70%, 81%);
  --cd-ocha-button-hover:  hsl(210, 70%, 71%);
  --cd-ocha-button-border:  hsl(210, 70%, 31%);
  --cd-ocha-lightbutton-text:  hsl(210, 70%, 31%);
  --cd-ocha-darkbutton-text:  #ffffff;
}

.dark {
  background-color: var(--cd-ocha-primary-color);
}

.dark,
.light {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

.cd-button {
  -webkit-appearance: none;
  border-radius: 3px;
  box-shadow: none;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /*transition: background 0.3s ease;*/
  width: auto;
  background-color: var(--cd-ocha-lightbutton-default);
  color: var(--cd-ocha-lightbutton-text);
}

.cd-button--lightstyle {
  background: var(--cd-ocha-light-blue);
  color: var(--cd-white);
}

.cd-button--small {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.cd-button--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cd-button:hover,
.cd-button:focus {
  background-color: var(--cd-ocha-button-hover);
}

.cd-button:focus {
  outline: 0 solid var(--cd-ocha-blue);
  border: 2px solid var(--cd-ocha-button-border);
}

.cd-button--style {
  background: var(--cd-ocha-blue);
  color: var(--cd-white);
}

.cd-button--style:hover {
  background: var(--cd-button-hover);
  color: var(--cd-white);
}

.cd-button--lightstyle:hover {
  background: var(--cd-button-hover);
  color: var(--cd-white);
}

.cd-button--style:focus {
  background: var(--cd-button-focus);
  color: var(--cd-white);
}

.cd-button--bold {
  font-weight: bold;
}

.cd-button--uppercase {
  text-transform: uppercase;
}

/* Some buttons have SVG icons */
.cd-button--icon svg {
  fill: var(--cd-white);
  width: 2rem;
  height: 2rem;
  /* Icon before */
  padding: 0 0.5rem 0 0;
}

.cd-button--icon span + svg {
/* Icon after */
  padding: 0 0 0 0.5rem;
}

.cd-button--icon:hover svg,
.cd-button--icon:focus svg {
  fill: var(--cd-white);
}

.cd-button--export {
  background: var(--cd-mid-grey);
  color: var(--cd-white);
}

.cd-button--export:hover,
.cd-button--export:focus {
  background: var(--cd-dark-grey);
}
