:root {
  /* Define the Primary colour. */
  /* Currently, --cd-ocha-blue */
  /* --cd-primary-color: hsl(205, 98%, 36%); */

  --cd-primary-color: hsl(210, 70%, 56%);
  --cd-primary-color--lighter:  hsl(210, 70%, 71%);
  --cd-primary-color--darker:  hsl(210, 70%, 31%);
}

/* Backgrounds */
.cd-background--dark {
  background-color: var(--cd-ocha-blue);
  color: var(--cd-white);
}

.cd-background--dark,
.cd-background--light {
  text-align: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

/* Default button */
.cd-button {
  -webkit-appearance: none;
  border-radius: 3px;
  box-shadow: none;
  border: 2px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  /*transition: background 0.3s ease;*/
  width: auto;
  background-color: var(--cd-primary-color);
  color: var(--cd-white);
}

.cd-button:hover,
.cd-button:focus {
  background-color: var(--cd-primary-color--lighter);
}

.cd-button:focus {
  /* We remove the outline because we are adding a border. */
  outline: 0 solid var(--cd-primary-color--lighter);
  border: 2px solid var(--cd-primary-color--darker);
}

.cd-background--dark .cd-button {
  --cd-primary-color: hsl(210, 70%, 81%);
  background-color: var(--cd-primary-color);
  color: var(--cd-primary-color--darker);
}

.cd-background--dark .cd-button:hover {
  background-color: var(--cd-primary-color--lighter);
}

.cd-button--style {}

.cd-button--style:hover,
.cd-button--style:focus {}

.cd-button--style:focus {}


/* Utility classes */
.cd-button--small {
  padding: 0.25rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.cd-button--bold {
  font-weight: bold;
}

.cd-button--uppercase {
  text-transform: uppercase;
}

/* Some buttons have SVG icons */
.cd-button--icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cd-button--icon svg {
  fill: var(--cd-white);
  width: 2rem;
  height: 2rem;
  /* Icon before */
  padding: 0 0.5rem 0 0;
}

.cd-button--icon span + svg {
/* Icon after */
  padding: 0 0 0 0.5rem;
}

.cd-button--icon:hover svg,
.cd-button--icon:focus svg {
  fill: var(--cd-white);
}


.cd-button--export {
  background: var(--cd-mid-grey);
  color: var(--cd-white);
}

.cd-button--export:hover,
.cd-button--export:focus {
  background: var(--cd-dark-grey);
}

.cd-button--export:focus {
  outline: 3px solid var(--cd-ocha-blue);
}
