.cd-table-container {
  overflow-x: auto;
}

@media (min-width: 576px) {
  .cd-table-container {
    width: 100%;
  }
}

table {
  width: 100%;
  margin-bottom: 1rem;
}

caption {
  margin-bottom: 0.5rem;
}

th {
  text-align: left;
}

th,
td {
  padding: 0 0.25rem 0 0;
}

.cd-table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.cd-table caption {
  margin-top: 0.5rem;
  caption-side: bottom;
  text-align: left;
  background: var(--cd-blue-grey);
  padding: 0.25rem 0.5rem;
}

.cd-table th,
.cd-table td {
  padding: 0.5rem;
  text-align: left;
}

.cd-table td:not(:empty) {
  min-width: 3rem;
}

.cd-table th {
  color: var(--cd-ocha-blue);
  border-bottom: 1px solid white;
  background: var(--cd-blue-grey);
}

.cd-table a {
  word-break: break-word;
}

.cd-table th[data-sort-type="numeric"],
.cd-table .cd-table--amount,
.cd-table .cd-table--amount-total {
  text-align: right;
}

.cd-table tfoot {
  font-weight: bold;
}

/* Row numbers */
.cd-table--row-numbers {
  counter-reset: rowNumber;
}

.cd-table--row-numbers tbody tr {
  counter-increment: rowNumber;
}

.cd-table--row-numbers tbody tr td.cd-table--row-num:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
  font-weight: normal;
}

/* Striping */
.cd-table--striped tr:nth-child(odd) {
  background: white;
}

.cd-table--striped tr:nth-child(even) {
  background: var(--cd-grey--light);
}
